.transbox
  %h1= @animal.name
  %div= image_tag @animal.image.url(:medium)
  #linelink
    %ul
      %li= link_to 'Edit', edit_animal_path
      %li= link_to 'Delete', animal_path(@animal), :method => :delete
