%h2 Time to get real. Bloody.
- @battles.each do |battle|
  .transbox
    %h2= battle.blurb
    =battle.animal_1.name
    =image_tag battle.animal_1.image.url(:thumb)
    =battle.animal_2.name
    =image_tag battle.animal_2.image.url(:thumb)
